## 1. Kolla exempelrader

In [ ]:
import pandas as pd

df = pd.read_csv("../data/taxi_trip_pricing.csv") # Csv-filen laddas in i en DataFrame

df.head() # Visar de första fem raderna i DataFrame:n

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

## 2. Datamängdens storlek

In [ ]:
df.shape # Visar antalet rader och kolumner i DataFrame:n
# (antal_rader, antal_kolumner)

(1000, 11)

## 3. Vilka features som finns

In [ ]:
df.columns # Visar kolumnnamnen i DataFrame:n

Index(['Trip_Distance_km', 'Time_of_Day', 'Day_of_Week', 'Passenger_Count',
       'Traffic_Conditions', 'Weather', 'Base_Fare', 'Per_Km_Rate',
       'Per_Minute_Rate', 'Trip_Duration_Minutes', 'Trip_Price'],
      dtype='object')

## 4. Datatyper + nullvärden

In [ ]:
df.info() # Visar en sammanfattning av DataFrame:n inklusive datatyper och icke-noll värden

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

## 5. Exakt var nullvärden finns

In [ ]:
df.isna().sum() # Kontrollerar för saknade värden i varje kolumn

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

## Kolumnförståelse

- Trip_Distance_km: resans längd i km
- Time_of_Day: Morning / Afternoon / Evening / Night
- Day_of_Week: Weekday eller Weekend
- Passenger_Count: antal passagerare
- Traffic_Conditions: Low / Medium / High
- Weather: Clear / Rain / Snow
- Base_Fare: grundpris
- Per_Km_Rate: pris per km
- Trip_Price: totalpris (label/target)